{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  cljfmt {:mvn/version "0.5.7"}
  com.googlecode.java-diff-utils/diffutils {:mvn/version "1.2.1"}
  }

 :aliases
 {:lint {:main-opts ["-m" "cljfmt-runner.check"]}
  :lint/fix {:main-opts ["-m" "cljfmt-runner.fix"]}}
 }
