{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/tools.cli {:mvn/version "0.3.5"}
  cljfmt {:mvn/version "0.5.7"}
  com.googlecode.java-diff-utils/diffutils {:mvn/version "1.2.1"}
  }

 :aliases
 {
  :test {:extra-paths ["test"]
         :extra-deps
         {com.cognitect/test-runner
          {:git/url "https://github.com/cognitect-labs/test-runner.git"
           :sha "5fb4fc46ad0bf2e0ce45eba5b9117a2e89166479"}}
         :main-opts ["-m" "cognitect.test-runner"]}

  :lint {:main-opts ["-m" "cljfmt-runner.check"]}
  :lint/fix {:main-opts ["-m" "cljfmt-runner.fix"]}}
 }
